:HOST{
	height: 100%;
	width: 100%;
	display: flex;
}

.form {
	margin: auto;
	min-width: 300px;
	max-width: 480px;
	width: 100%;
}

.container {
	display: flex;
	flex-direction: column;
}

.container > * {
	width: 100%;
}

.full-width {
	width: 100% !important;
}

.step { 
	min-height: 50vh;
	padding-bottom: 50px;
 }

 .action {
 	margin-top: 10px;
 	position: absolute;
 	bottom: 10px;
 	right: 10px;
 }

 .restricao {

 }

 .restricao-linha{
 	margin: 10px;
	
 }

 .restricao-linha /deep/ .mat-form-field-infix{
 	width: 40px;
 }

 .restricao-x {
 	display: block;
 }

.card{
	margin: 18px 0px;
	padding-bottom: 38px;
}

 .card, .card /deep/ .mat-card-title{
 	font-size: 1rem;
 }