<mat-horizontal-stepper class='stpper form' style='height: 100%;' [linear]="isLinear" #stepper>
	
	
	<mat-step [stepControl]="funcaoFormGroup">
		<ng-template matStepLabel>Função Objetiva</ng-template>

		<form class='step' [formGroup]="funcaoFormGroup">
			<mat-form-field class='full-width'>
				<mat-select placeholder="Objetivo da Função (Z)" formControlName="objetivo" required>
					<mat-option value="Max">Maximizar</mat-option>
					<mat-option value="Min">Minimizar</mat-option>
				</mat-select>
			</mat-form-field>

			<mat-form-field class="full-width" *ngFor="let i of xIndice">
				<input matInput type='number' [placeholder]="'X'+i" [formControlName]="'x'+i" required>
				<mat-icon matSuffix class='pointer' (click)='delX(i)' >remove_circle</mat-icon>
			</mat-form-field>
			<button mat-raised-button color='primary' (click)='addX()'>ADICIONAR VARIAVEL</button>
		</form>
		
		<div class='action'>
			<button mat-button matStepperPrevious>Voltar</button>
			<button mat-raised-button color='primary' matStepperNext>AVANÇAR</button>
		</div>
	</mat-step>


	<mat-step [stepControl]="restricaoFormGroup">
		<ng-template matStepLabel>Restrições</ng-template>
		<form  class='step' [formGroup]="restricaoFormGroup">
			<div class='restricao' *ngFor="let r of rIndice">
				<span [class.restricao-x]='xIndice.length>2'>
					<ng-container *ngFor="let x of xIndice">
						<mat-form-field class='restricao-linha' >
							<input matInput  type='number'  [placeholder]="'X'+x"  [formControlName]="'r'+r+'x'+x" required>
						</mat-form-field>
						<span *ngIf="x!=xIndice.length">+</span>
					</ng-container>
				</span>

				<mat-form-field class='restricao-linha' >
					<mat-select placeholder=""  [formControlName]="'r'+r+'op'" required>
						<mat-option value="<="><=</mat-option>
						<mat-option value=">=">>=</mat-option>
						<mat-option value="=">=</mat-option>
					</mat-select>
				</mat-form-field>

				<mat-form-field class='restricao-linha' >
					<input matInput type='number' [placeholder]="'R'+r"  [formControlName]="'r'+r" required>
					<mat-icon matSuffix class='pointer' (click)='delR(r)' >remove_circle</mat-icon>
				</mat-form-field>
				
			</div>
			<div>
				<button mat-raised-button color='primary' (click)='addR()'>ADICIONAR RESTRIÇÃO</button>
			</div>

		</form>
			<div class='action'>
				<button mat-button matStepperPrevious>Voltar</button>
				<button mat-raised-button color='primary' matStepperNext >AVANÇAR</button>
			</div>
	</mat-step>

	<mat-step>
		<ng-template matStepLabel>Metodo</ng-template>
		<ng-container *ngIf="restricaoFormGroup.valid">

			<mat-card class='card'>

				<mat-card-title>Função Objetiva:</mat-card-title>
				<mat-card-subtitle>{{labelFO}}</mat-card-subtitle>

				<mat-card-title>Variaveis:</mat-card-title>
				<mat-card-subtitle><span *ngFor="let x of xIndice"> x{{x}} </span></mat-card-subtitle>

				<mat-card-title>Restrições:</mat-card-title>
				<mat-card-subtitle *ngFor="let r of labelRestricao;index as i">{{r}}</mat-card-subtitle>

				<mat-card-title>Não negatividade:</mat-card-title>
				<mat-card-subtitle><p *ngFor="let x of xIndice"> x{{x}} >= 0 </p></mat-card-subtitle>

				<mat-card-actions class='flex'>
					<span class='fill'></span>
					<button mat-raised-button color='primary' (click)='showGrafico()' matStepperNext [disabled]="disabledGrafico"> Grafico </button>
					<span class='fill'></span>
					<button mat-raised-button color='primary' (click)='showSimplex()' matStepperNext> Simplex </button>
					<span class='fill'></span>
				</mat-card-actions>

			</mat-card>

		</ng-container>

		<div class='flex'>
			<span class='fill'></span>
			<button mat-icon-button (click)="stepper.reset()">Inicio</button>
			<span class='fill'></span>
			<button mat-button matStepperPrevious>Voltar</button>
			<span class='fill'></span>
		</div>
	</mat-step>
	
	<mat-step *ngIf="showSimplexComp">
		<ng-template matStepLabel>Simplex</ng-template>
		<app-simplex></app-simplex>
	</mat-step>

	<mat-step *ngIf="showGraficoComp">
		<ng-template matStepLabel>Gráfico</ng-template>
		<app-grafico></app-grafico>
	</mat-step>
	


</mat-horizontal-stepper>


