/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
* {
	font-family: 'Roboto', Helvetica, sans-serif;
}

body, html {
	height: 100%;
	margin: 0;
	color:rgba(0,0,0,0.8);
	background-color: white;
}

.flex{
	display: flex !important;
}

.fill{
	margin: auto !important;
}